/* stylesheet for CDLI web version */


#text {
	font-size: 14px;
	font-weight: bold;
}

#type {
	font-size: large;
}

#description {
	text-align: center;
	width: 55%;
}

#links {
	width: 25%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  /* padding: 0px;
     margin: 0px; */
  background-color: #000000;
}

h1 {
  font-size: 1.3em;
  margin-bottom: 0em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}  
a:link {
  color: #E0FFFF;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #736F6E;
}


/* XHTML translit from Steve */

.transliteration {
}
.transliteration .lnum {
  color: #808080;
}
.transliteration span.lnum {
  display: none;
}
.transliteration .xlabel { 
  font-size: 80%; 
}
p.tt { 
  margin: 0px;
}

/* full text search */
span.found {
    /*background: #0041D9;*/
    color: #5CB3FF;
}

ul.resultlines {
    margin: 0px;
    padding-left: 0px;
}
ul.resultlines li {
    list-style-type: none;
}

#quicksearch {
     background-color:#000000;
     color:#ffffff;
}

.loggedin {
    color:#ffa500;
    text-align:right;
}

.credits {
    color:#ffffff;
}


div.versionhist {
    margin-top: 2em;
}

.versionhist h4 {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.versionhist p {
  font-size: 0.8em;
  margin: 0px;
}



        .tablink a {
        	display: block;
        	}

        .tablink a:hover {
        	text-decoration: underline;
        	}
}
